<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="./css/login.css"/>
        <title>css学习</title>
    </head>
    <body>
        <div id="app" class="box">
            <div class="title">登陆</div>
                <div class="inputbox">
                    <input type="text" name="" required="" v-model="phoneNum" >
                    <label>手机号</label>
                    <a href="javascript::" @click="getVerify">{{content}}</a>
                </div>
                <div class="inputbox">qub
                    <input type="text" required="" v-model="verifyNum">
                    <label>验证码</label>
                    
                   
                </div>
                <input type="submit" @click="loginAction" value="登陆"></button>
        </div>
        <!-- 官方提供的axios在线地址 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>