<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div id="weather">
            <input type="text" placeholder="请输入城市" v-model="city" @keyup.enter="enterGet">
            <ul>
                <li v-for="cityItme in cityList">
                    <a href="javascript::" @click="clickGet(cityItme)">{{cityItme}}</a>
                </li>
            </ul>
            <ul>
                <li v-for="data in result.forecast">
                    <div class="info_type"><span class="iconfont">{{data.type}}</span></div>
                    <div><span>{{data.date}}</span></div>
                    <div><span>{{data.fengxiang}}</span></div>
                    <div><span>{{data.high}}</span></div>
                    <div><span>{{data.low}}</span></div>
                    <div><span>{{data.fengli}}</span></div>
                </li>
            </ul>
        </div>
        <!-- 官方提供的axios在线地址 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../../static/js/main.js"></script>
    </body>
</html>